<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-info-sign"></span> Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Login</a></li>   
            <li><a href="#">Sign up</a></li>   
            <li><a href="/">Restart</a></li>         
            <li class="divider"></li>
            <li><a href="#">Invite</a></li>
            <li><a href="#"> ... </a></li>
          </ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class=""></span> Nível <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" id ="btFacil">Fácil</a></li>
                <li><a href="#" id="btMedio">Médio</a></li>
                <li><a href="#" id="btDificil">Difícil</a></li>
              </ul>
          </li>
          </ul>
      </li>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/antonioancelmo/snake-game-js" target="_blank"><span class="glyphicon glyphicon-book"></span> IFAL-Rio Largo</a>
      </li>
    </ul>
  </div>
</nav>
